/* General CSS */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  }

header {width: 100%;}

ul {list-style: none;}

/* Navigation */

#nav_bar_right  {
  float: right;
  text-decoration: none;
  font-size: 14px;

}

#nav_bar_left {
  float:left;
  text-decoration: none;
  position: relative;
  right: 35px;
  font-size: 14px;
}

nav li {
  display: inline-block;
  padding: 8px;
  text-decoration: none;
}


.nav-links {
  color: #404040;
}

.logo #google_logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 140px;
}

#form_search {
  text-align: center;
  margin: 0 auto;
}

.search input {
  line-height: 32px;
  width: 450px;

}

.buttons {
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
}

.buttons input {
  height: 36px;
  line-height: 27px;
  font-family: 'Roboto' sans-serif;
}

footer {
  background: #222;
  padding-bottom: 0;
  width: 100%;


}

footer ul li {
  display: inline;
  font-size: 14px;
  padding: 13px;
}

.footer_left {
  float: left;
  position: relative;
  top: 280px;
  right: 35px;


}

.footer_right {
  float: right;
  position: relative;
  top: 280px;

}
