/* General CSS */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  }

header {width: 100%;}

ul {list-style: none;}

* {
  text-decoration: none;
}

/* Navigation */

#nav_bar_right  {
  float: right;
  font-size: 14px;
  color: #1111;

}

#nav_bar_left {
  float:left;
  position: relative;
  right: 35px;
  font-size: 14px;
  color: #1111;
}

nav li {
  display: inline-block;
  padding: 8px;
  text-decoration: none;
}


.nav-links {
  color: #404040;
}

.logo #google_logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 140px;
}

#form_search {
  text-align: center;
  margin: 0 auto;
}

.search input {
  line-height: 32px;
  width: 450px;

}

.buttons {
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
}

.buttons input {
  height: 36px;
  line-height: 27px;
  font-family: 'Roboto' sans-serif;
}

footer {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #1111;
  border-top: 0.15px solid rgba(0, 0, 0, 0.1);
  opacity: .75;
}

.footer_left {
  float: left;
  position: relative;
  word-spacing: 10px;
  right: 25px;
  color: #1111;
}

.footer_right {
  float:right;
  word-spacing: 10px;
  position: relative;
  right: 10px;
  color: #1111;
}

footer li {
  display: inline-block;
}
